@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 임포트 */

/* 커스텀 스타일 */


/* 전역 스타일 */


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body,
  #__next {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-image: url('/img/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat; */
    font-family: "Galmuri9",
      sans-serif;
    color: blue;
  }

}
