@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 임포트 */

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }

  html,
  body,
  #__next {
    width: 100%;
    position: relative;
    background-image: url('/data/texture.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
